* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
header {
  margin: auto;
  background: #953636;
  position: sticky;
  top: 0;
  left: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  background: #f6f4ec;
}

.ads {
  width: 100%;
  height: 65px;
  border: 1px solid red;
  background: #b36050;
}
.ads > p {
  font-size: 17px;
  line-height: 27.2px;
  text-align: center;
  color: #f1d3b9;
  padding: 16px;
}

.nav__list {
  margin: auto;
  margin-left: 5%;
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.nav__list__item a {
  font-size: 17px;
  text-decoration: none;
  color: #b4604d;
}

.nav__profile__item a {
  font-size: 17px;
  line-height: 28.8px;
  text-decoration: none;
  color: #b4604d;
}

.nav__logo {
  padding-top: 4px;
  display: block;
  margin: auto;
}

.hero__menu {
  height: 320px;
  background: #a9ae8d;
}

.hero {
  background-image: url(./images/foto\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 435px;
}

.hero__menu__quesion {
  margin: auto;
  color: white;
  font-size: 18px;
  line-height: 28.2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 25px;
}
.hero__title {
  width: 100%;
  height: 64px;
  font-size: 33px;
  color: #f6f4ec;
  text-align: center;
}
.hero__btn {
  width: 128px;
  height: 48px;
  display: block;
  margin: auto;
  background: #b45f4d;
  color: white;
  margin-top: 28px;
}

.select__container {
  width: 100%;
  margin: auto;
  background: #f6f4ec;
}
.select__infotext {
  text-align: center;
  font-size: 23px;
  padding: 39px 0 4px 0;
  color: #b36050;
}
.select__card {
  width: 100%;
  height: 702px;
  margin-top: 24px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.select__car__details {
  width: 30%;
  height: 600px;
}

.foto {
  width: 100%;
  height: 100%;
}
.card__product__name {
  padding-top: 31px;
  font-size: 18px;
  color: #b45f4d;
}
.card__product__price {
  color: #b45f4d;
}
.card__wrapper {
  width: 100%;
}

.card__arrows {
  display: flex;
  justify-content: space-between;
}
.card__arrows__btn {
  background: #b45e4d02;
  padding: 0px 40px;
  border: 0 solid;
  cursor: pointer;
}

.shop-sets__frame {
  background-image: url(images/sssssss.png);
  height: 407px;
  width: 100%;
}

.shop-sets__frame__buy {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  top: 70%;
  background: #df9b7a;
  color: #f6f4ec;
}
.shop-sets__frame__warmth {
  font-size: 20px;
  color: #f6f4ec;
}
.shop-sets__frame__buy-btn {
  font-size: 18px;
  color: #f6f4ec;
  cursor: pointer;
}

.beuty__card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
.beuty__girl-foto {
  width: 40%;
  height: auto;
  padding: 50px 0;
}
.beuty__girl-info {
  margin: 50px 0;
  width: 40%;
  height: auto;
  background: #f8f8f8;
}
.beuty__girl-title {
  font-size: 30px;
  text-align: center;
  padding-top: 134px;
  padding-bottom: 16px;
  color: #b45f4d;
}
.beuty__girl__info-text {
  font-size: 19px;
  color: #b45f4d;
  margin: 0 42px;
}
.follow-us {
  background: #fff;
}
.follow-us-btn {
  padding: 16px 40;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 24px;
  background: #00000000;
  border: 0px;
}
.follow-us__fotos {
  margin: auto;
  width: 130px;
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.footer-info__wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-content: flex-start;
}

.footer-info__details__list {
  margin: 40px;
  list-style: none;
  justify-content: space-between;
}

.footer-info__details__list-item > a {
  color: #b45f4d;
}

.footer-info__input {
  margin-left: 300px;
  padding-top: 40px;
}
.footer-info__input__text {
  color: #c17c6c;
  font-size: 14px;
  padding-bottom: 4px;
}

.footer-info__input-tabl {
  width: 458px;
  height: 40px;
  border: 2px solid #c17c6c;
}

.footer-info__under-line {
border-top: 2px solid #F1D3B9;
}
.footer-info__under-text {
  color: #C17C6C;
  font-size: 14px;
  padding: 12px 0;
  text-align: center;
}